header {
    padding: 20px;  
    background-color: white;
    display: flex;
    justify-content:space-between;
    align-items: flex-end; 
    position: sticky;
    top: 0;
    z-index: 1;
}

//Acá voy a agregar el footer también//