$fontTitulos: 'Paytone One', sans-serif;
$fontSubtitulos: 'Anton', sans-serif;
$fontParrafos: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$fontFormularios: 'Play', sans-serif;